meritpath-worker-service/test/*
meritpath-worker-service/test/test_local_citer.sh
meritpath-backend/app/test/*
meritpath-worker-service/test/test_prod_worker.sh
meritpath-worker-service/test/test_local_worker.sh
meritpath-worker-service/message.json
.env
__pycache__
.DS_Store
venv

